body {
    font-family: Helvetica, Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #0a1f2c;
    color: #f0f0f0;
}

.container {
    background-color: #112233;
    padding: 40px 50px;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    width: 500px;
    max-width: 90%;
    text-align: center; /* Центрируем текст внутри контейнера */
}

h1 {
    font-size: 24px;
    color: #ffffff;
    margin-bottom: 10px;
}

.divider {
    border: none;
    height: 1px;
    background-color: rgba(204, 204, 204, 0.296);
    margin: 20px 0;
}

p.description {
    font-size: 16px;
    color: #cfcfcf;
    margin-bottom: 25px;
}

p.descriptionText {
    font-size: 16px;
    color: #cfcfcf;
    margin-bottom: 25px;
}

label {
    color: #cfcfcf;
    font-size: 16px;
}

input[type="number"] {
    width: 100%;
    padding: 12px;
    margin: 10px 0 20px 0;
    border: 1px solid #334455;
    border-radius: 4px;
    background-color: #1a2b3c;
    color: #f0f0f0;
    font-size: 16px;
}

.copy-block {
    display: none;
    cursor: pointer;
    margin-top: 10px;
    background-color: #1a2b3c;
    padding: 15px;
    border-radius: 4px;
    border: 1px solid #334455;
    text-align: center; /* Центрируем текст внутри блока */
}

.copy-block .label {
    font-size: 14px;
    color: rgba(255, 255, 255, 0.6);
    margin-bottom: 5px;
}

.copy-block .value {
    font-size: 24px;
    font-weight: bold;
    color: #f0f0f0;
}

button {
    padding: 10px 20px;
    margin-top: 20px;
    border: none;
    border-radius: 4px;
    background-color: #184261;
    color: #ffffff;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

button:hover {
    background-color: #31758b;
}
